.categories-item{
    cursor: pointer;
}

.cart-total__promo{
    cursor: pointer;
}
.cart-total__promo input{
    padding: 10px;
    margin-bottom: 0;
    margin-right: 10px;
    font-size: 10px
}
.item-price-w-discount{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.item-info__price.new_price{
    color: #E74343;
     margin-right: 20px;
}
.item-info__price.old-price{

    color: #519999;
    opacity: 0.5;
    font-size: 18px;
    font-weight: bold;
    text-decoration: line-through;
}

table {
   border: 1px solid grey;
    width: 100%;
}
/* границы ячеек первого ряда таблицы */
th {
   border: 1px solid grey;
    text-align: center;
    padding: 10px 0;
}
/* границы ячеек тела таблицы */
td {
   border: 1px solid grey;
    text-align: center;
}
.list-enter-active .list-leave-active {
   opacity: 0;
  transition: all .1s;
}
.list-leave-active {
   opacity: 0;
  transition: all .5s;
}
.list-enter, .list-enter-to{
}
.list-leave, .list-leave-to{
  transform: translateX(-20px);
}
.item-images img{
    width: 295px;
    height: 345px;
    object-fit: cover;
}

@media (max-width: 550px) {
    .item-info__params{
        flex-direction: column;
    }
    .item-info__param{
        margin-bottom: 20px;
        width: 100%;
    }
    .item-info__param .custom-select{
        width: 100%;
    }
    .btn{
        max-width: 100%;
    }

}
.city-select{
    position: relative;
}
.city-select__result{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background: #FFFFFF;
    top: 66px;
    border: 1px solid #e0e0e0;
    padding: 10px;
    left:0;
    right: 0;
}

.city-select__result p:hover{
    cursor: pointer;
    background: #519999;
    color: #FFFFFF;
}

.city-select__result.cityResultActive{
     opacity: 1;
    pointer-events: all;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
    position: absolute;
    right: 20px;
    top: 20px;
  color: #519999;
    opacity: .8;

  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 650px) {
    .modal-content {width: 100%}
    .close {right: 10px;top: 10px}
}

.tns-outer button{
    display: none;
}

.el-input__suffix-inner{
    display: none;
}
.el-input__inner{
    border-radius: unset;
    border: 1px solid #e0e0e0;
    height: 67px;
    background: #ffffff;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /*background-image: url(/arr_d.png);*/
    /*background-repeat: no-repeat, repeat;*/
    /*background-position: right .7em top 50%, 0 0;*/
    /*background-size: .65em auto, 100%;*/
}
.city-select{
  width: 100%;
}
.cart-grid-form .city-select .el-input__inner{

    background-image: url(/arr_d.png);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.el-input__inner:hover{
  border-color: #519999 !important
}
.el-select .el-input.is-focus .el-input__inner{
  border-color: #519999 !important
}
