@import "reset"
$main_color: #519999
.el-popup-parent--hidden
    overflow: hidden
    position: fixed
    width: 100vw
//.subcategories
//  background: url(/cat_bg.png)
.text-grey
  color: #919A9C

.btnDisabled
  opacity: .8
  pointer-events: none
.header
  &-w-line
    padding-top: 33px
  &-line
    padding: 6px 0
    background: $main_color
    position: absolute
    left: 0
    right: 0
    top: -33px
    z-index: 100
    p
      color: #FFFFFF
      font-size: 14px
      font-weight: 500

.langSelect
  width: 40px
  & .el-input__inner
      border: none
      padding: 0

.header-nav
  position: relative
  &::after
    position: absolute
    content: ''
    width: 1px
    height: 108px
    background: #e0e0e0
    right: -1px
    top: -28px
  &__link
    font-weight: 600
    color: #24363A
  &__button
    &-submenu
      position: absolute
      top: 69px
      left: 0
      right: -1px
      border: 1px solid #e0e0e0
      padding: 30px 20px
      opacity: 0
      pointer-events: none
      transition: all .2s linear
      z-index: 100
      background: #FFFFFF
      &__item
        line-height: 35px !important
        font-weight: 600
        transition: all .2s linear
        text-align: left
        &:hover
          color: $main_color
          text-decoration: underline

    &.with-submenu
      position: relative
      &::after
        position: absolute
        content: url(/arr_d.png)
        right: 20px
        top: 48%
        transform: translateY(-50%)
        transition: all .2s linear
      &:hover > div
        top: 79px
        opacity: 1
        pointer-events: all
      &:hover > .link-button
          color: $main_color
      &:hover
        &:after
          transform-origin: 50% 50%
          transform: rotate(180deg) translateY(20%)
      & .link-button
        &:hover
          color: $main_color

.header-mobile-menu__item
  height: 90px
  overflow: hidden
  &--link
    position: relative
    &::after
      position: absolute
      content: url(/arr_d_m.png)
      right: -20px
      top: 28%
      transform-origin: 50% 50%
      transform:  rotate(180deg)
      transition: all .2s linear
  &.mobile-submenu
    padding: 15px 0
    border-bottom: none
    a
      display: block
      margin-bottom: 15px
      font-weight: bold
      font-size: 14px
      &:last-child
        margin-bottom: 0
  &.mobileSubmenuActive
    height: fit-content
    & .header-mobile-menu__item
      height: fit-content
      &--link
        &::after
          transform-origin: 50% 50%
          transform: rotate(0deg) translateY(-50%)

  &.mobile-links
    padding: 25px 0
    height: fit-content
    border-bottom: none
.mobile-links__link
  display: block
  margin-bottom: 15px
  font-size: 14px
  &:last-child
    margin-bottom: 25px

.mobile-links__phone
  display: block
  font-size: 18px
  margin-bottom: 15px
.mobile-links__social
  a
    margin-right: 15px
    &:last-child
      margin-right: 0


@media (max-width: 600px)
  .header-nav
    &::after
      content: none
  &.mobile-menu
    svg
      height: 35px
      width: 35px
    &::after
      position: absolute
      content: ''
      width: 1px
      height: 108px
      background: #e0e0e0
      right: -1px
      top: -22px

@media (max-width: 450px)
  .header-mobile-menu__item
    height: 45px
  .header
    &-line
      p
        font-size: 10px


.authModal
  & .el-dialog
    width: 450px
    margin-top: 0 !important
    margin-bottom: 0 !important
    top: 50%
    transform: translateY(-50%)
    &__body
      color: #24363A
    &__header
      padding: 0
    &__headerbtn
      &:hover
        & .el-dialog__close
          color: $main_color
    & .el-button
      width: 100%
      max-width: unset

.el-input
  &__inner
    &:hover
      border-color: $main_color
    &:focus
      border-color: $main_color
    &:active
      border-color: $main_color

.el-loading-spinner i
  color: $main_color
.el-loading-spinner .el-loading-text
  color: $main_color
  font-weight: bold

.el-button:focus, .el-button:hover, .el-button:active
    color: #FFFFFF
    border-color: $main_color

.cart-wrapper
  & .el-loading-spinner
    margin-top: -14px

.el-select .el-input__inner:focus
  border-color: $main_color
.el-select-dropdown__item.selected
  color: $main_color


.fieldError
  input
    border-color: #e3ad3e
    &::placeholder
      color: #80c416
    &:hover
      border-color: #e3ad3e
.sizesDialog
  & .el-dialog
    max-width: 800px
  & .el-dialog__header
    padding: 0
  & .el-dialog__headerbtn
    background: #519999
    z-index: 100
    i
      color: #FFFFFF
  & .el-dialog__body
    padding: 0
@media (max-width: 600px)
  .sizesDialog
    & .el-dialog
      width: 95%
      margin-top: 0
      top: 50%
      transform: translateY(-50%)
  .subcategories-item
    margin-right: 30%
  .subcategories-item:nth-child(2n)
    margin-left: 30%
    margin-right: 0
  .subcategories-item:nth-child(even)
    margin-left: 30%
    margin-right: 0
  .subcategories-item__name
    font-size: 25px
    bottom: 0

.main-wrapper
  position: relative

.cookie-message
  position: fixed
  bottom: 50px
  z-index: 1000
  left: 50px
  right: 50px
  background: #FFFFFF
  border-radius: 8px
  border: 1px solid $main_color
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px
  transition: all .2s linear
  &.hideCookie
    opacity: 0
    bottom: 30px

  p
    color: $main_color
    flex-basis: 90%


@media (max-width: 600px)
  .cookie-message
    flex-direction: column
    p
      margin-bottom: 10px
    .el-button
      width: 100%


.login-form
  & .el-input__inner
    height: 45px
.item-images
  & .el-image
    img
      height: unset


.contact-images
  display: grid
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr))
  grid-gap: 10px


.el-checkbox__input.is-checked+.el-checkbox__label
  color: $main_color
.el-checkbox__input.is-checked .el-checkbox__inner
  background-color: $main_color
  border-color: $main_color

@media (max-width: 768px)
  .el-select-dropdown__wrap
    max-height: 150px
